<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load django_htmx %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The News Reporter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static "assets/font/font-awesome.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "assets/font/font.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "assets/css/responsive.css" %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static "assets/css/jquery.bxslider.css" %}" media="screen" />
<style type="text/css">
  .htmx-indicator{
      display:none;
  }
  .htmx-request .my-indicator{
      display:inline;
  }
  .htmx-request.my-indicator{
      display:inline;
  }
</style>
</head>
<body>
  <div class="body_wrapper">

    {% block content %} {% endblock %}

  </div>
  <script type="text/javascript" src="{% static "assets/js/jquery-min.js" %}"></script> 
  <script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script> 
  <script type="text/javascript" src="{% static "assets/js/jquery.bxslider.js" %}"></script> 
  <script type="text/javascript" src="{% static "assets/js/selectnav.min.js" %}"></script> 
  
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'htmx/htmx.min.js' %}"></script>
  <script src="{% static 'htmx/django-htmx.js' %}"></script>
  <script src="{% static 'htmx/hyperscript.js' %}"></script>
  
  <script type="text/javascript">
  selectnav('nav', {
      label: '-Navigation-',
      nested: true,
      indent: '-'
  });
  selectnav('f_menu', {
      label: '-Navigation-',
      nested: true,
      indent: '-'
  });
  $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true
  });
  </script>
</body>
</html>